.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .logo a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navLinks a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .navLinks a:hover {
    color: #FFC15E;
  }
  